<h2>Nuevo cliente</h2>

<fieldset>
    <legend>Cliente</legend>

    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="cliente.nombre" placeholder="nombre">
    </div>
    <div>
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" [(ngModel)]="cliente.apellidos" placeholder="apellidos">
    </div>
    <div>
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" [(ngModel)]="cliente.telefono" placeholder="teléfono">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="cliente.email" placeholder="email">
    </div>
    <div>
        <button type="button" (click)="guardar()">Guardar</button>
        <button type="button" (click)="goBack()">Volver</button>
    </div>
</fieldset>
